
$rem1px: 0.00625rem;
$rem2px: 0.0125rem;
$rem3px: 0.01875rem;
$rem4px: 0.25rem;
$rem5px: 0.3125rem;
$rem6px: 0.375rem;
$rem7px: 0.4375rem;
$rem8px: 0.5rem;
$rem9px: 0.5625rem;
$rem10px: 0.625rem;
$rem11px: 0.6875rem;
$rem12px: 0.75rem;
$rem13px: 0.8125rem;
$rem14px: 0.875rem;
$rem15px: 0.9375rem;
$rem16px: 1rem;
$rem17px: 1.0625rem;
$rem18px: 1.125rem;
$rem19px: 1.1875rem;
$rem20px: 1.25rem;
$rem21px: 1.3125rem;
$rem22px: 1.375rem;
$rem23px: 1.4375rem;
$rem24px: 1.5rem;
$rem25px: 1.5625rem;
$rem26px: 1.625rem;
$rem27px: 1.6875rem;
$rem28px: 1.75rem;
$rem29px: 1.8125rem;
$rem30px: 1.875rem;
$rem31px: 1.9375rem;
$rem32px: 2rem;
$rem33px: 2.0625rem;
$rem34px: 2.125rem;
$rem35px: 2.1875rem;
$rem36px: 2.25rem;
$rem37px: 2.3125rem;
$rem38px: 2.375rem;
$rem39px: 2.4375rem;
$rem40px: 2.5rem;
$rem41px: 2.5625rem;
$rem42px: 2.625rem;
$rem43px: 2.6875rem;
$rem44px: 2.75rem;
$rem45px: 2.8125rem;
$rem46px: 2.875rem;
$rem47px: 2.9375rem;
$rem48px: 3rem;
$rem49px: 3.0625rem;
$rem50px: 3.125rem;
$rem51px: 3.1875rem;
$rem52px: 3.25rem;
$rem53px: 3.3125rem;
$rem54px: 3.375rem;
$rem55px: 3.4375rem;
$rem56px: 3.5rem;
$rem57px: 3.5625rem;
$rem58px: 3.625rem;
$rem59px: 3.6875rem;
$rem60px: 3.75rem;
$rem61px: 3.8125rem;
$rem62px: 3.875rem;
$rem63px: 3.9375rem;
$rem64px: 4rem;
